Repository Kaitou786/kogito-cloud-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%

Update reviewers.yml
  .github/bot-files/reviewers.yml
Due: none

Update labels.yml
  .github/bot-files/labels.yml
Due: none

Delete README.md
  test/README.md
Due: none

Update maps_test.go
  pkg/util/maps_test.go
Due: operator

Update feature.go
  test/feature.go
Due: none

Update maps.go
  pkg/util/maps.go
Due: operator

Update role.yaml
  deploy/role.yaml
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Update Dockerfile
  build/Dockerfile
Due: none

Delete .default_config
  test/.default_config
Due: none

change test
  .github/bot-files/labels.yml
  Jenkinsfile
  pkg/apisaa
Due: operator

Update Jenkinsfile.deploy
  Jenkinsfile.deploy
Due: none

Update Jenkinsfile.promote
  Jenkinsfile.promote
Due: none

Update data_index.go
  pkg/infrastructure/data_index.go
Due: operator

run tests
  .github/workflows/Kogito-Operator-PR-Check.yaml
  hack/ci/kind-with-registry-and-ingress.sh
  hack/ci/localhost-wildcard-ubuntu-configuration.sh
  hack/ci/run-tests-kind.sh
  hack/go-build-cli.sh
Due: none

Update kind-with-registry-and-ingress.sh
  hack/ci/kind-with-registry-and-ingress.sh
Due: none

fix rolebinding
  deploy/clusterrole_binding.yaml
  kogito-operator.yaml
Due: none

refactor rbac
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
Due: operator

review comments and small fixes
  hack/deploy-operator-on-ocp.sh
  pkg/controller/kogitoruntime/deployer.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitoruntime/rbac.go
Due: operator

[KOGITO-3215] - Support cluster-scoped deployment for operator See: https://issues.redhat.com/browse/KOGITO-3215
  cmd/kogito/command/flag/operator_flag.go
  cmd/kogito/command/install/kogito_operator.go
  cmd/kogito/command/install/kogito_operator_test.go
  cmd/kogito/command/message/project.go
  cmd/kogito/command/shared/install_operator.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/install_services.go
  cmd/kogito/command/shared/operatorhub.go
  cmd/manager/main.go
  deploy/clusterrole.yaml
  deploy/clusterrole_binding.yaml
  deploy/namespace.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/kogito-operator.v2.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/operator.yaml
  deploy/role_binding.yaml
  deploy/service_account.yaml
  hack/deploy-operator-on-ocp.sh
  hack/go-vet.sh
  kogito-operator.yaml
  pkg/client/client.go
  pkg/client/meta/meta.go
  pkg/controller/kogitoruntime/deployer.go
  pkg/controller/kogitoruntime/rbac.go
  pkg/framework/subscription.go
  test/framework/operator.go
Due: operator, cli

review comments: namespace and rbac
  cmd/kogito/command/install/kogito_operator_test.go
  cmd/kogito/command/shared/install_operator.go
  deploy/namespace.yaml
  deploy/service_account.yaml
  kogito-operator.yaml
  pkg/client/client.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitoruntime/rbac.go
Due: operator, cli

give cluster-scope param while silent install
  cmd/kogito/command/install/kogito_infra.go
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/project/project.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/shared/install_services.go
Due: cli

fix lint tests
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitoruntime/rbac.go
Due: operator

namespaced flag, remove silentOperator Install and refactoring
  cmd/kogito/command/flag/operator_flag.go
  cmd/kogito/command/install/kogito_infra.go
  cmd/kogito/command/install/kogito_operator.go
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/message/data_index.go
  cmd/kogito/command/message/explainability.go
  cmd/kogito/command/message/jobs_service.go
  cmd/kogito/command/message/kogitobuild.go
  cmd/kogito/command/message/kogitoinfra.go
  cmd/kogito/command/message/kogitoruntime.go
  cmd/kogito/command/message/mgmt_console.go
  cmd/kogito/command/message/project.go
  cmd/kogito/command/message/services.go
  cmd/kogito/command/message/task_console.go
  cmd/kogito/command/message/trusty.go
  cmd/kogito/command/message/trusty_ui.go
  cmd/kogito/command/project/project.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/shared/install_operator.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/install_services.go
  cmd/kogito/command/shared/operatorhub.go
  pkg/client/client.go
  pkg/test/client.go
Due: operator, cli

fix namespace
  hack/deploy-operator-on-ocp.sh
  hack/go-vet.sh
  kogito-operator.yaml
Due: none

Adjust BDD tests for operator changes
  test/framework/kubernetes.go
  test/framework/operator.go
  test/main_test.go
  test/steps/data.go
  test/steps/operator.go
Due: none

Revert "Updating Release Notes to 1.1.0 (#679)"
  .github/pull_request_template.md
  RELEASE_NOTES.md
Due: none

release notes and gh actions
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  RELEASE_NOTES.md
Due: none

Use new controller format
  controllers/kogitobuild_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitosupportingservice_controller.go
Due: none

Use new controller format
  controllers/infinispan.go
  controllers/kafka.go
  controllers/keycloak.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitosupportingservice_controller.go
  controllers/mongodb.go
Due: none

Incorporate review comments
  controllers/explainability_reconciler.go
  controllers/explainability_reconciler_test.go
  controllers/infinispan.go
  controllers/jobsservice_reconciler.go
  controllers/jobsservice_reconciler_test.go
  controllers/kafka.go
  controllers/keycloak.go
  controllers/knative.go
  controllers/kogitodataindex_reconciler.go
  controllers/kogitodataindex_reconciler_test.go
  controllers/kogitoinfra_errors.go
  controllers/kogitoinfra_reconciler.go
  controllers/kogitoinfra_service.go
  controllers/kogitosupportingservice_controller.go
  controllers/kogitosupportingservice_controller_test.go
  controllers/mgmt_reconciler.go
  controllers/mgmt_reconciler_test.go
  controllers/mongodb.go
  controllers/taskconsole_reconciler.go
  controllers/taskconsole_reconciler_test.go
  controllers/trustyai_reconciler.go
  controllers/trustyai_reconciler_test.go
  controllers/trustyui_reconciler.go
  controllers/trustyui_reconciler_test.go
Due: none
